.my-img{
  width: 100%;
}
.child{
  width: 100%;
}
.span{
 position: relative;
 bottom: 20px;
 text-align: center;
  
}
.price{
  text-align: center;
}
@media only screen and (max-width: 790px) {

 .col-xs-6{
   width: 50%;
 }
}