.product_img{
    transition: transform .2s;
    margin: 0 auto;
}
.product_img:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    transform: scale(1.2);    
     
}
/* shoping card hover  */
.shop_card:hover{
    border: 1px solid rgb(51, 107, 221);
}